img{
    width:250px;
    height:150px
}
.above-photo{
    width:250px;
    margin:0 auto
}
.above-photo p{
    font-size:17px;
    font-weight:700;
    margin-bottom:0
}
.title-img{
    width:50px;
    height:30px
}
span{
    font-weight:700
}
.modal-content .modal-header{
    background-color:#f3f1ed;
    padding:.6rem
}

@media (max-width: 575.98px) {
    html body {
        background-size: cover;
    }
    img {
    width:100%;
    height: auto;
}
.above-photo {
    width:100%;
    margin:0;
}
.page-item .pad{   
    padding:.5rem .3rem;
}
 }